<div class="allplogin">
<h1>Electrician's Toolkit</h1>
<img class="image" src="image.png" alt=""> <br>

<p class="user">Usuario o Correo Eletronico</p>

<input type="email" id="user" class="form_input">

<label for="user" class="form_label"></label>

<span class="form_line"></span>


<p class="pass">Contraseña</p>

<input type="password" id="passw" class="form_input">

<label for="passw" class="form_label"></label>

<span class="form_line"></span>

<img class="back" src="Volver.png" alt="" routerLink="/">

<button class="Continue">Continuar</button>

<p class="recovery">¿Has olvidado tu contraseña?</p>
</div>