<div class="close">
<img src="close.png" routerLink="/" alt="">
</div>
<h1>Creación De Cuenta</h1>
<div class="all">
<h2 class="fullname ">Nombres y apellidos</h2>
<label for="passw"></label>
<input type="text" id="passw" placeholder="Ingrese sus datos" class="form_input" required>
<h2>Nombre de usuario</h2>
<label for="passw"></label>
<input type="text" id="passw" placeholder="Ingrese sus datos" class="form_input2" required>
<h2>Correo electronico</h2>
<label for="passw"></label>
<input type="email" id="passw" placeholder="Ingrese sus datos" class="form_input3" required>
<h2>Contraseña</h2>
<label for="passw"></label>
<input type="text" id="passw" placeholder="Ingrese sus datos" class="form_input4" required>
<h2>Número de telefono</h2>
<label for="passw"></label>
<input type="number" id="passw" placeholder="Ingrese sus datos" class="form_input5" required>
</div>
<button type="submit" class="continue" routerLink="/firtstime">Continuar</button>