<h1>Electrician's Toolkit</h1>
<img class="image" src="image.png" alt="">
<p class="info">Electrician's toolkit es una aplicacion diseñada <br> 
    específicamente para Ingenieros eléctricos, <br>
    electricistas y/o arquitectos permitiéndoles hacer <br>
    cálculos precisos sobre cargas eléctricas, caídas <br>
    de tensión, regulaciones y variaciones de voltaje, <br>
    diagnosticar fallos en un sistema de cableado <br>
    eléctrico y poder diseñar sistemas eléctricos <br> 
    detallados e interactivos para ser compartidos<br>
    y/o guardados para ser usados.</p>
<button class="Continue">Continuar</button>
